@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap"); 


@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@source "../node_modules/flowbite-datepicker";

body {
  font-family: "Figtree", serif;
    overflow-x: hidden;
   

}

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-2sm: 768px; 
  --breakpoint-md: 896px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --font-outfit: "Outfit", serif;
  --font-inter: "Inter", serif;

  --color-primary: #6C36FE;
  --color-black: #000000;
  --color-black-light: #473d65;
  --color-bg-footer: #190E3D;
  --color-gray: #535862;
  --color-dark-gray: #181D27;
  --color-gray-light: #E6E6E6;
  --color-off-white: #FDFDFD;
  --color-pink-light: #f9f5ff;
  --color-border-gray: #D1D5DB;
  --color-border-red: #EF4444;
  --color-pink: #F9F5FF;
  --hover: #4825a7;
  --dark:  #0e1414; 
  --dark-theme: #182121; 
  --light: #f2f2f2;
  --white: #ffffff;

  /* --color-primary: #6C36FE;
  --color-black: #000000;
  --color-black-light: #473d65;
  --color-bg-footer: #190E3D;
  --color-gray: #535862;
  --color-dark-gray: #181D27;
  --color-gray-light: #E6E6E6;
  --color-off-white: #FDFDFD;
  --color-pink-light: #f9f5ff;
  --color-border-gray: #D1D5DB;
  --color-border-red: #EF4444;
  --color-pink: #F9F5FF;
  --hover: #4825a7;
  --dark:  #0e1414; 
  --dark-theme: #182121; 
  --light: #f2f2f2;
  --white: #ffffff; */

  --text-large: 48px; /*  big 5xl*/
  --text-bigger: 36px; /*  md 4xl */
  --text-big: 30px;  /*  sm 3xl */
  --text-mid: 24px;  /*  xs 2xl */
  --text-tiny: 14px; /*  sm  text-sm */
  --text-small: 12px; /*  sm  text-xs */


}

.dark{

}


/* hover*/
.bg-hover:hover {
  background-color: var(--hover);
  color: var(--white);
}
.hover-effect:hover {
  background: var(--color-primary);
  color: var(--white);
}
.text-hover:hover {
  color: var(--color-primary);
}



.relative,
.absolute,
.fixed {
  z-index: 0;
}

/* Global styles for the toast */
.Toastify__progress-bar {
  background-color: #4d2eff !important;
}
.Toastify__progress-bar--success {
  background-color: #4d2eff !important;
}
.Toastify__progress-bar--info {
  background-color: #309ed9 !important;
}
.Toastify__progress-bar--error {
  background-color: #e3332d !important;
}
.Toastify__progress-bar--warning {
  background-color: #edbd0e !important;
}

.Toastify__close-button {
  color: #4d2eff !important;
}
.Toastify__close-button--default {
  color: #4d2eff !important;
}
.Toastify__close-button > svg {
  color: #4d2eff !important;
}
.Toastify__close-button:hover {
  color: #4d2eff !important;
}
.Toastify__close-button:focus {
  color: #4d2eff !important;
}




.captcha-container {
  transform: scale(1); 
}

.card-container {
  margin-bottom: 20px !important;
}

.swiper-pagination-bullet {
  opacity: 1;
  border: #fff solid 1px;
  background-color: #fff;
  color: #fff;
}
.swiper-pagination-bullet {
  position: relative;
  display: inline-block;
  width: 10px !important;
  height: 10px !important;
  border-radius: 8px;
  vertical-align: bottom;
  transition: all 0.3s;
  cursor: pointer;
  bottom: 0;
  font: 14px;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  height: 16px;
  background: var(--color-primary)!important;
  transition: all 0.3s;
}
/* Custom Navigation Buttons */

.swiper-button-next {
  right: 0px;
  position: absolute;
  z-index: 20;
  opacity: 1 !important;
  top: 50%;
  width: 28px !important;
  height: 45px !important;
  line-height: 45px !important;
  text-align: center;
  background:  #fff;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 8px 0 0 8px;
}
.swiper-button-prev {
  left: 0px;
  position: absolute;
  z-index: 20;
  opacity: 1 !important;
  top: 50%;
  width: 28px !important;
  height: 45px !important;
  line-height: 45px !important;
  text-align: center;
  background:  #fff;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 0 8px 8px 0;
}
/* Left Button Position */
.swiper-button-prev {
  left: -20px !important;
}

/* Right Button Position */
.swiper-button-next {
  right: -20px !important;
}

/* Custom Arrow Icons */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px !important;
  font-weight: bold;
  color: black;
}

.react-datepicker__input-container input {
  width: inherit;
  height: 100%;
}

/* date picker */
.react-datepicker-wrapper>.react-datepicker__input-container input {
  all: unset !important;
  width: 100% !important;
}
/* Change background color when selecting. */
.react-datepicker__day--keyboard-selected:not(
    .react-datepicker__day--range-start
  ) {
  border-radius: 50%; 
  color: #fff;
  background-color: var(--color-primary); 
  z-index: -1 !important;
}
/* Change background color when hovering. */
.react-datepicker__day:hover {
  border-radius: 50% !important;
  background-color: var(--hover) !important; 
  color: #fff; 
}


@media(max-width: 897px){
  .rounded-hero-image{
    max-width: 500px ;
  }
}


@media (max-width: 896px) {
  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination-bullet
  {
    display: none !important;
  }
}


@media (max-width: 340px) {
  .captcha-container {
    transform: scale(0.8); 
  }
}
@media (max-width: 280px) {
  .captcha-container {
    transform: scale(0.6); 
  }
}
