@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap"); 


@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@source "../node_modules/flowbite-datepicker";

body {
  font-family: "Figtree", serif;
    overflow-x: hidden;
     

}

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-2xs: 564px;
  --breakpoint-sm: 640px;
  --breakpoint-2sm: 768px; 
  --breakpoint-md: 896px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 2560px;
  --font-outfit: "Outfit", serif;
  --font-inter: "Inter", serif;

  --text-large: 48px; /*  big 5xl*/
  --text-bigger: 36px; /*  md 4xl */
  --text-big: 30px;  /*  sm 3xl */
  --text-mid: 24px;  /*  xs 2xl */
  --text-tiny: 14px; /*  sm  text-sm */
  --text-small: 12px; /*  sm  text-xs */



  --color-gray-light: #E6E6E6;
  --color-pink-light: #f9f5ff;
  --color-primary:  #6C36FE;
  --color-background: #ffffff;
  --color-secondary-background: #FDFDFD;
  --color-secondary: #F9F5FF;
  --color-border-gray: #D1D5DB;
  --color-border-foreground: #D1D5DB;
  --color-foreground:#535862;
  --color-dark-foreground: #181D27;
  --color-secondary-foreground : #E6E6E6;
  --color-footer-foreground: #190E3D;
  --color-destructive: #ef4444;
 --color-ring: #ffd;

  --light: #f2f2f2;
  --white: #ffffff;
  --hover: #4825a7;
  --dark:  #0e1414; 
  --dark-theme: #182121; 
}



/* hover*/
.bg-hover:hover {
  background-color: var(--hover);
  color: var(--white);
}
.hover-effect:hover {
  background: var(--color-primary);
  color: var(--white);
}
.text-hover:hover {
  color: var(--color-primary);
}



.relative,
.absolute{
  z-index: 0;
}

/* Global styles for the toast */
.Toastify__progress-bar {
  background-color: #4d2eff !important;
}
.Toastify__progress-bar--success {
  background-color: #4d2eff !important;
}
.Toastify__progress-bar--info {
  background-color: #309ed9 !important;
}
.Toastify__progress-bar--error {
  background-color: #e3332d !important;
}
.Toastify__progress-bar--warning {
  background-color: #edbd0e !important;
}

.Toastify__close-button {
  color: #4d2eff !important;
}
.Toastify__close-button--default {
  color: #4d2eff !important;
}
.Toastify__close-button > svg {
  color: #4d2eff !important;
}
.Toastify__close-button:hover {
  color: #4d2eff !important;
}
.Toastify__close-button:focus {
  color: #4d2eff !important;
}




.captcha-container {
  transform: scale(1); 
}

.card-container {
  margin-bottom: 20px !important;
}

.swiper-pagination-bullet {
  opacity: 1;
  border: #fff solid 1px;
  background-color: #fff;
  color: #fff;
}
.swiper-pagination-bullet {
  position: relative;
  display: inline-block;
  width: 10px !important;
  height: 10px !important;
  border-radius: 8px;
  vertical-align: bottom;
  transition: all 0.3s;
  cursor: pointer;
  bottom: 0;
  font: 14px;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  height: 16px;
  background: var(--color-primary)!important;
  transition: all 0.3s;
}
/* Custom Navigation Buttons */

.swiper-button-next {
  right: 0px;
  position: absolute;
  z-index: 20;
  opacity: 1 !important;
  top: 50%;
  width: 28px !important;
  height: 45px !important;
  line-height: 45px !important;
  text-align: center;
  background:  #fff;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 8px 0 0 8px;
}
.swiper-button-prev {
  left: 0px;
  position: absolute;
  z-index: 20;
  opacity: 1 !important;
  top: 50%;
  width: 28px !important;
  height: 45px !important;
  line-height: 45px !important;
  text-align: center;
  background:  #fff;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 0 8px 8px 0;
}
/* Left Button Position */
.swiper-button-prev {
  left: -20px !important;
}

/* Right Button Position */
.swiper-button-next {
  right: -20px !important;
}

/* Custom Arrow Icons */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px !important;
  font-weight: bold;
  color: black;
}

.react-datepicker__input-container input {
  width: inherit;
  height: 100%;
}

/* date picker */
.react-datepicker-wrapper>.react-datepicker__input-container input {
  all: unset !important;
  width: 100% !important;
}

/* Selected day styling */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: var(--color-primary) !important;
  color: white !important;
  border-radius: 50% !important;
}

/* Hover on selectable days */
.react-datepicker__day:hover {
  background-color: #A58BFF !important; /* lighter hover */
  color: white !important;
  border-radius: 50% !important;
}



@media(max-width: 897px){
  .rounded-hero-image{
    max-width: 500px ;
  }
}


@media (max-width: 896px) {
  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination-bullet
  {
    display: none !important;
  }
}


@media (max-width: 340px) {
  .captcha-container {
    transform: scale(0.8); 
  }
}
@media (max-width: 280px) {
  .captcha-container {
    transform: scale(0.6); 
  }
}



/* admin */
@layer base {
  body {
      @apply [scrollbar-color:_#cbd5e1_transparent] dark:[scrollbar-color:_#334155_transparent];
  }
}

@layer components {
  .sidebar-group {
      @apply flex w-full flex-col gap-y-2;
  }

  .sidebar-group-title {
      @apply overflow-hidden text-ellipsis text-sm font-medium text-slate-600 dark:text-slate-400;
  }
  
  .sidebar-item {
      @apply flex h-[40px] w-full flex-shrink-0 items-center gap-x-3 rounded-lg p-3 text-base font-medium text-slate-900 transition-colors hover:bg-blue-50 dark:text-slate-50 dark:hover:bg-blue-950;
     
  }

  .title {
      @apply text-3xl font-semibold text-slate-900 transition-colors dark:text-slate-50;
  }

  .btn-ghost {
      @apply flex h-10 flex-shrink-0 items-center justify-center gap-x-2 rounded-lg p-2 text-slate-400 transition-colors hover:bg-blue-50 hover:text-slate-500 dark:hover:bg-blue-950 dark:hover:text-slate-300;
  }

  .link {
      @apply text-base font-medium text-slate-900 transition-colors hover:underline dark:text-slate-50;
  }

  .input {
      @apply hidden h-10 flex-shrink-0 items-center gap-x-2 rounded-lg border border-slate-300 px-2 text-base text-slate-900 transition-colors has-[input:focus]:border-blue-500 md:flex md:w-auto lg:w-80 dark:border-slate-700 dark:text-slate-50 dark:focus:border-blue-600;
  }

  .card {
      @apply flex flex-col gap-y-4 rounded-lg border border-slate-300 bg-white p-4 transition-colors dark:border-slate-700 dark:bg-slate-900;
  }

  .card-header {
      @apply flex items-center gap-x-2;
  }

  .card-title {
      @apply font-medium text-slate-900 transition-colors dark:text-slate-50;
  }

  .card-body {
      @apply flex flex-col gap-y-2 rounded-lg p-4;
  }

  .table {
      @apply h-full w-full text-slate-900 dark:text-slate-50;
  }

  .table-header {
      @apply sticky top-0 bg-slate-200 transition-[background] dark:bg-slate-800;
  }

  .table-row {
      @apply border-b border-slate-300 transition-colors last:border-none dark:border-slate-700;
  }

  .table-head {
      @apply h-12 px-4 text-start;
  }

  .table-cell {
      @apply w-fit whitespace-nowrap p-4 font-medium;
  }
}

.recharts-default-tooltip {
  @apply !rounded-lg !border !border-slate-300 !bg-white transition-colors dark:!border-slate-700 dark:!bg-slate-900;
}

.recharts-tooltip-label {
  @apply text-base font-medium text-slate-900 dark:text-slate-50;
}

.recharts-tooltip-item {
  @apply text-base font-medium !text-blue-500 dark:!text-blue-600;
}
