@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Figtree", serif;
}

:root {
  --outfit-font: "Outfit", serif;
  --inter-font: "Inter", serif;
  --primaryColor: #6C36FE;
  --hover: #4825a7;
  --black: #473d65;
  --black-2: #000000;
  --white: #ffffff;
  --pink: #f9f5ff;
  --border-color: var(--color-pink-300);

  --gray-1: #181d27;
  --gray-2: #414651;
  --gray-3: #535862;
  --gray-4: #D5D7DA;
  --gray-5: #E6E6E6;
  
  --dark: #171717;
  --dark-theme: #0d0d0d;
  --light: #f2f2f2;
}

/* backgrounds */
.bg-root-color {
  background-color: var(--primaryColor);
}
.bg-pink {
  background-color: var(--pink);
}

/*colors */
.text-root-color {
  color: var(--primaryColor);
}

.text-color {
  color: var(--black);
}
.gray-1 {
  color: var(--gray-1);
}
.gray-2 {
  color: var(--gray-2);
}
.gray-3 {
  color: var(--gray-3);
}
.gray-5 {
  color: var(--gray-5);
}
.black-2 {
  color: var(--black-2);
}

/* hover */
.hover-root-color:hover {
  color: var(--primaryColor);
}
.hover-effect:hover {
  background-color: var(--primaryColor);
  color: var(--white);
}
.error-border {
  border-color: #EF4444 ; 
}
.bg-hover:hover {
  background-color: var(--hover);
  color: var(--white);
}

/* font */
.font-inter {
  font-family: var(--inter-font);
}
.font-outfit {
  font-family: var(--outfit-font);
}

/* border */
.border-color{
 border-color: var(--gray-4)
}


.relative,
.absolute,
.fixed {
  z-index: 0;
}

/* Global styles for the toast */
.Toastify__progress-bar {
  background-color: #4d2eff !important;
}
.Toastify__progress-bar--success {
  background-color: #4d2eff !important;
}
.Toastify__progress-bar--info {
  background-color: #309ed9 !important;
}
.Toastify__progress-bar--error {
  background-color: #e3332d !important;
}
.Toastify__progress-bar--warning {
  background-color: #edbd0e !important;
}

.Toastify__close-button {
  color: #4d2eff !important;
}
.Toastify__close-button--default {
  color: #4d2eff !important;
}
.Toastify__close-button > svg {
  color: #4d2eff !important;
}
.Toastify__close-button:hover {
  color: #4d2eff !important;
}
.Toastify__close-button:focus {
  color: #4d2eff !important;
}

.captcha-container {
  transform: scale(1); 
}

@media (max-width: 340px) {
  .captcha-container {
    transform: scale(0.8); 
  }
}
@media (max-width: 280px) {
  .captcha-container {
    transform: scale(0.6); 
  }
}